/* Center the content in the middle of the page */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #c6bcbe; /* Light Pink */
    border: 4px solid #544e51; /* Deep Pink */
    border-radius: 10px;
    padding: 20px;
  }
  
  /* Style the h1 element with a different pink text color */
  h1 {
    color: #ff1493; /* Deep Pink */
  }
  
  /* Style the div element with a different shade of pink */
  div {
    color: #ff69b4; /* Hot Pink */
  }
  
  /* Style the p elements with a lighter pink text color */
  p {
    color: #ffc0cb; /* Pink */
  }
  
  /* Style links with a pink color */
  a {
    color: #ff6b81; /* Light Coral */
    text-decoration: none;
  }
  
  /* Change the hover color of links to a different pink shade */
  a:hover {
    color: #ff91a4; /* Salmon Pink */
  }
  

  .flashy{
font-weight: bold;
font-style: italic;
}
  